* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: #0d0d0d;
    color: white;
    line-height: 1.6;
}
header {
    position: relative;
    min-height: 600px;
    text-align: center;
    padding: 20px;
    background: url("../imgs/fondo.gif");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    background-repeat: no-repeat;
    border-bottom: 2px solid #444;
}
header h1 {
    margin-bottom: 10px;
    font-size: 3rem;
    text-align: center;
}
header p {
    font-size: 1rem;
    color: #ccc;
}
.btn-position{
    position: absolute;
    top:20px;
    right: 20px;
}
.button1 {
    padding: 17px 40px;
    border-radius: 10px;
    border: 0;
    background-color: rgb(255, 56, 86);
    letter-spacing: 1.5px;
    font-size: 15px;
    transition: all 0.3s ease;
    box-shadow: rgb(201, 46, 70) 0px 10px 0px 0px;
    color: hsl(0, 0%, 100%);
    cursor: pointer;
}

.button1:hover {
    box-shadow: rgb(201, 46, 70) 0px 7px 0px 0px;
}

.button1:active {
    background-color: rgb(255, 56, 86);
    box-shadow: rgb(201, 46, 70) 0px 0px 0px 0px;
    transform: translateY(5px);
    transition: 200ms;
}

nav ul {
    display:flex;
    list-style: none;
    justify-content: center;
    background: #222;
    padding: 10px 0;
    border-bottom:2px solid #444;
}
nav li{
    margin: 0 15px;
    cursor: pointer;
}
nav a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}
nav a:hover {
    color: red;;
}
div{
    position: relative;
    display: grid;
    grid-template-columns: 14rem auto 14rem;
    grid-template-areas:
    "aside1 main aside2";
    max-width: 1600px;
    gap: 2rem;
    margin: 2rem auto;
}
.button-pc{
    position: fixed;
    bottom: 0;
    left: 3rem;
}
main{
    background-color: #1b1b1b;
    grid-area: main;
    width: 100%;
    height: 100%;
    padding: 20px;
    border-radius: 1rem;
}

.aside-top{
    grid-area:aside1;
    padding: 2rem;
}
.aside-button{
    grid-area:aside2;
    padding: 2rem;
}
section{
    grid-template-columns: 1fr 1fr;
    display:grid;
    grid-template-areas:
    "article1 article2"
    "article3 article4";

}
blockquote{
    font-size: 1rem;
    text-align: center;
    position: sticky;
    top:3rem;
    background: #222;
    border: white solid 0.1rem;
    justify-items: center;
    align-content: center;
    border-radius: 1rem;
    overflow: hidden;
    padding: 1rem;
    margin: 1rem;
    width: auto;
    height: auto;
    box-sizing: border-box;
}
blockquote img{
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    display: block;
    border-radius: 1rem;
    margin: auto;
}
.article1{
    grid-area: article1;
}
.article2{
    grid-area: article2;
}
.article3{
    grid-area: article3;
}
.article4{
    grid-area: article4;
}
article{
    display: grid;
    background: #222;
    border:white solid 0.1rem;
    width: auto;
    height: auto;
    grid-template-areas:
    "hgroup hgroup"
    "figure figure"
    "p p"
    "footer footer" ;
    border-radius: 2rem;
    padding: 0.5rem;
    margin: 0.5rem;
}
hgroup{
    grid-area: hgroup;
    text-align: center;
    background-color: rgba(192, 192, 192, 0.308);
    height: auto;
    border-radius: 1rem;
    font-size: 1rem;
}
figure{
    display: grid;
    grid-template-areas:
    "img"
    "figcaption";
    grid-area:figure;
    background:rgba(73, 114, 131, 0.342);
    justify-items: center;
    align-content: center;
    border-radius: 1rem;
    overflow: hidden;
    padding: 1rem;
    margin: 1rem;
}
figure img{
    grid-area: img;
    width: auto;
    height: 383px;
    max-width: 100%;
    max-height: 100%;
    border-radius: 1rem;
    margin: auto;
}
figure figcaption{
    padding: 1rem;
    grid-area: figcaption;
    text-align: center;
    font-size: 1rem;
    margin: 1rem;
    border-radius: 2rem;
}
.information{
    grid-area:p;
    background-color: rgba(73, 114, 131, 0.342);
    font-size: 0.9rem;
    padding: 2rem;
    margin:1rem;
    border-radius: 1rem;
    line-height: 1.6;

}
section footer{
    grid-area: footer;
    text-align: center;
    background: rgba(192, 192, 192, 0.308);
    font-size: 1rem;
    border-radius: 1rem;
}
section footer p a{
    color: white;
    text-decoration: none;
    font-size: 1rem;
}
section footer p a:hover{
    color: red;
}
.phone{
    display: none;
}

.button2 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(20, 20, 20);
    border: none;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 0px 4px rgba(180, 160, 255, 0.253);
    cursor: pointer;
    transition-duration: 0.3s;
    overflow: hidden;
    position: relative;
}

.svgIcon {
    width: 12px;
    transition-duration: 0.3s;
}

.svgIcon path {
    fill: white;
}

.button2:hover {
    width: 140px;
    border-radius: 50px;
    transition-duration: 0.3s;
    background-color: rgb(181, 160, 255);
    align-items: center;
}

.button2:hover .svgIcon {
    transition-duration: 0.3s;
    transform: translateY(-200%);
}

.button2::before {
    position: absolute;
    bottom: -20px;
    content: "Back to Top";
    color: white;
    font-size: 0px;
}

.button2:hover::before {
    font-size: 13px;
    opacity: 1;
    bottom: unset;
    transition-duration: 0.3s;
}

@media (min-width:768px) and (max-width: 1200px) {
    div{
        grid-template-columns: 14rem auto 14rem;
    }
    header{
        min-height: 300px;
    }
    section {
        grid-template-columns: 1fr;
        grid-template-areas:
        "article1"
        "article2"
        "article3"
        "article4";
    }
    .article1,.article2,.article3,.article4{
        min-width: 383px;
    }
}
@media (min-width:480px) and (max-width:767px){
    header{
        min-height: 350px;
    }
    .pc{
        display:none;
    }
    .phone{
        display: grid;
        width: auto;
        height: auto;
        max-width: 300px;
        max-height: 168px;
        object-fit: cover;
        border-radius: 1rem;
        margin: auto;
    }
    div{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
        "aside1"
        "main"
        "aside2";
        max-width: 100%;
        width: 100%;
    }
    section {
        grid-template-columns: 1fr;
        grid-template-areas:
        "article1"
        "article2"
        "article3"
        "article4";
        width: 100%;
    }
    .aside-button,.aside-top{
        width: 100%;
        max-height: 250px;
    }
    blockquote{
        max-height: 250px;
        overflow: hidden;
    }
    nav ul {
        display:flex;
        flex-direction: column;
    }
    nav li{
        padding: 1rem;
        border-bottom: #0d0d0d solid 0.1rem;
    }
}


